html{
    scroll-behavior: smooth;
}
body {
    background-color: #dedede;
    padding: 5px;
    margin: 15px;
    font-size: 25px;
    font-family:Arial, sans-serif;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 1.95em;
}

h2{
    text-align:center;
  }

li{
    margin-top: 20px;
}

.grid{
    display: grid;
    grid-template-columns: 95%;
    justify-content: space-evenly;
    row-gap: 10px;
}


.grid img{
    width: 100%;
  }



.label{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



@media screen and (min-width:772px) {
    .grid{
        grid-template-columns: 45% 45%;
        align-items: center;
    }
    .grid img{
        border: 10px solid rgb(19, 217, 187);
        border-radius: 400px;
      }
    figure:nth-child(9) img{
        border: 10px solid rgb(0, 38, 255);
        border-radius: 400px;
    }  
    figure:nth-child(9){
        grid-column: 1 / span 2;
    }
}

@media screen and (min-width:992px){
    .grid img{
        border-radius:0px
    }
    figure:nth-child(3n){
        grid-column: 1 / span 2;
    }
}

@media (prefers-reduced-motion){
    scroll-behavior: auto;
}

@media (prefers-color-scheme: dark) {
    body{
        background-color: black;
    }
    .grid{
        background-color: rgb(33, 32, 32);
    }
    h1{
        background-color: rgb(33, 32, 32);
        color: white;
    }
    p{
        background-color: rgb(33, 32, 32);
        color: white;
    }
    figcaption{
        color: white;
    }
    figure{
        border-color: black;
    }
    .grid img{
        border: 10px solid rgb(0, 0, 0);
}